<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Image Search Abstraction Layer</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    </head>
    <body>
        <div class = "jumbotron">
        <h1 class = "text-center">FreeCodeCamp Basejump: Image Search Abstraction Layer</h1>
        <h2 class= "text-center">A full-stack app for searching images in the Imgur API</h2>
        <div class = "row">
            <div class = "col-xs-10 col-xs-offset-1">
                <ul>
                    <li>Search images in the address bar. Type your query after 'https://img-search-fcc.herokuapp.com/imagesearch/'.</li>
                    <li>Add '?offset=2' after your query to look at the second page of results.</li>
                    <li>Go to 'https://img-search-fcc.herokuapp.com/latest' to see the last 10 search queries.</li>
                </ul>
            </div>
        </div>
        </div>
    </body>
</html>